* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.intro {
  position: absolute;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border: 5px solid #ea40a4;
  justify-content: space-around;
  border-radius: 50px 0;
}

.intro-massage {
  color: #313154;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  letter-spacing: 1px;
}

#enter-btn {
  padding: 5px;
  font-size: 20px;
  width: 80%;
  height: 40px;
  text-transform: uppercase;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  color: #eee;
  letter-spacing: 1px;
  /* background-color: #3a82ee; */
  background-color: #ea40a4;
}

#enter-btn:hover {
  transform: scale(0.98);
  opacity: 0.75;
  cursor: pointer;
}

.structure {
  position: absolute;
  width: 80%;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%);
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-input {
  width: 48%;
}
.date-input {
  width: 48%;
}

input:not([type='radio']):not([type='checkbox']) {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

.greeting .title {
  display: flex;
  align-items: center;
}

#name {
  color: #ea40a4;
}

#name::placeholder {
  color: rgb(184, 184, 184);
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: #040161;
  font-size: 1.5rem;
  font-weight: 700;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h3 {
  color: #313154;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: #040161;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}

.create-todo input[type='text'] {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 18px;
  color: #313154;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 2px solid #3a82ee;
  box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

.bubble.personal {
  border-color: #ea40a4;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

.bubble::after {
  content: '';
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: #3a82ee;
  box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  border-radius: 999px;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: #ea40a4;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

input:checked ~ .bubble::after {
  width: 7px;
  height: 7px;
  opacity: 1;
}

.create-todo .options label div {
  color: #313154;
  font-size: 18px;
  margin-top: 15px;
}

.create-todo input[type='submit'] {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 16px 24px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ea40a4;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.create-todo input[type='submit']:hover {
  opacity: 0.75;
}

section ~ .todo-list {
  margin: 0;
}

.todo-list .list {
  margin: 16px 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.todo-item label {
  display: block;
  margin-right: 16px;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  color: #313154;
  font-size: 16px;
  width: 100%;
}

.input-item {
  width: 15%;
}

.desc-item {
  width: 65%;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 8px;
  background-color: #ea40a4;
}

.todo-item .actions .delete {
  background-color: #ff5b57;
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: #888;
}
