@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.intro {
  position: absolute;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 5px solid #e94f4f;
  box-shadow: 5px 5px 50px #e94f4f;
  justify-content: space-around;
  border-radius: 30px;
}

.intro-massage {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

#enter-btn {
  padding: 5px;
  font-size: 20px;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #e94f4f;
  box-shadow: inset 1px 1px 10px 3px #800d0d;
}

#enter-btn:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.structure {
  position: absolute;
  width: 80%;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%);
}

#input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #e94f4f;
  width: 100%;
  height: 340px;
  margin-bottom: 60px;
}

.logo-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 220px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: -26px;
  transform: translate(-50%);
}

#logo {
  position: relative;
  z-index: 100;
}

#todo-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 280px;
  margin-top: 25px;
  justify-content: flex-end;
  align-items: flex-end;
}

#title-section {
  display: block;
  width: 45%;
}

#date-section {
  display: block;
  width: 45%;
}

.top-field {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.label-name {
  color: #e94f4f;
  font-size: 16px;
  width: 100px;
}

.small-input-field {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.bottom-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 20px;
}

textarea {
  display: flex;
  font-size: 16px;
  resize: none;
  align-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  width: 100%;
  height: 120px;
}

#submit-btn {
  width: 100px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 14px;
  font-weight: 900;
  background-color: #e94f4f;
  box-shadow: inset 1px 1px 10px 3px #800d0d;
}

#submit-btn:hover {
  transform: scale(0.9);
  cursor: pointer;
}

#show-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #e94f4f;
  width: 100%;
  margin-bottom: 60px;
}

.todo-list {
  color: white;
  margin: 0 auto 0 30px;
  padding: 20px;
  font-size: 20px;
}

#my-list {
  display: flex;
  flex-direction: column;
  margin: 5px 15px 20px 15px;
  border-collapse: separate;
  border-spacing: 0 20px;
}

tr:nth-child(even) {
  background-color: rgba(255, 120, 120, 0.3);
}

tr:nth-child(odd) {
  background-color: rgb(31, 31, 31);
}

.do-color {
  color: #e94f4f;
}

td {
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

#checkbox {
  height: 15px;
  width: 15px;
}

input[type='checkbox']:checked {
  accent-color: #e94f4f;
}
